html {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
      .miclase{
          color: blue;
          font-size: 20px;
      }

      .miclase2{
        color: rgb(255, 0, 144);
        font-size: 20px;
    }
  
  
      #miid{
          color: rgb(255, 0, 0);
          font-size: 20px;
  
      }